@font-face {
  font-family: bellybeans;
  src: url(../fonts/bellybeans.ttf);
}

.total-distance div {
  line-height: 1;
  margin-top: 4px;
}

.reset-zeroes {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 0.8em;
  color: #000;
  text-align: center;
  text-decoration: overline 3px;
}

.waypoint-danger-2 {
  text-decoration: underline 5px red;
}

.waypoint-tulip-checkpoint {
  box-shadow: inset 0 0 0px 6px #ee82ee;
}

.tulip-checkpoint-number {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 1.9em;
  font-weight: bold;
  color: violet;
}

.waypoint-icon-none {
  display: none;
}

.waypoint-parameter-none {
  display: none;
}

.waypoint-type-wpc {
  background-color: #ffffb9;
}

.waypoint-danger-3 {
  box-shadow: inset 0 5px 0 0 red,  
      inset 5px 0 0 0 red,  
      inset 0 -7px 0 0 red;
  /* bottom */
}

.waypoint-speed-zone {
  box-shadow: inset 5px 0 0 0 orange;
  /* Left */
}

.waypoint-type-wpm,
.waypoint-type-wpv {
  background-color: #c1ffff;
}

.waypoint-type-wps {
  background-color: #fecdce;
}

.waypoint-type-wpn {
  background-color: #ff20fb;
}

.instruction-DZ {
  box-shadow: inset 0 5px 0 0 #ffa500,  
    inset 5px 0 0 0 orange,  
    inset -5px 0 0 0 orange;
  /* Right */
}

.instruction-FZ {
  box-shadow: inset 0 -5px 0 0 orange,  
    inset 5px 0 0 0 orange,  
    inset -5px 0 0 0 orange;
  /* Right */
}

.instruction-speed-zone {
  box-shadow: inset 5px 0 0 0 orange,  
    inset -5px 0 0 0 orange;
  /* Right */
}

.instruction-danger-3 {
  box-shadow: inset 0 0 0 5px red;
}